.menu {
  display: flex;
}

.chapters-menu {
  min-width: 350px;
}

.exercises-menu {
  
}

.final-project {
  background-color:lightcoral;
  width: 160px;
  height: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 15px;
  text-align: center;
}